<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.WordMapper">

    <resultMap id="wordMap" type="com.example.entity.Word">
        <result property="name" column="name"/>
        <result property="translation" column="translation"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getWordAll" resultMap="wordMap">
        select id, name, translation, status from word where dic_id  = #{dicId}
    </select>

    <select id="getRevdWord" resultMap="wordMap">
        select id, name, translation from word where status = ${1} and dic_id  = #{dicId}
    </select>

    <select id="getUnRevdWord" resultMap="wordMap">
        select id, name, translation from word where status = ${0} and dic_id  = #{dicId}
    </select>

    <select id="getWord" resultMap="wordMap">
        select name, translation, status from word where name LIKE '%${name}%' and dic_id  = #{dicId}
    </select>

    <delete id="deleteWord">
        delete from word where name = #{name} and dic_id  = #{dicId}
    </delete>

    <select id="getCountRecvWord" resultType="java.lang.Integer">
        select count(1) from word where status = ${1} and dic_id  = #{dicId}
    </select>

    <select id="getCountUnRecvWord" resultType="java.lang.Integer">
        select count(1) from word where status = ${0} and dic_id  = #{dicId}
    </select>

    <update id="changeStatus">
        update word set status = ${1} where id = #{id}
    </update>
</mapper>
